#
# OpenSIPS residential configuration script
#     by OpenSIPS Solutions <team@opensips-solutions.com>
#
# This script was generated via "make menuconfig", from
#   the "Residential" scenario.
# You can enable / disable more features / functionalities by
#   re-generating the scenario with different options.#
#
# Please refer to the Core CookBook at:
#      https://opensips.org/Resources/DocsCookbooks
# for a explanation of possible statements, functions and parameters.
#


####### Global Parameters #########

/* uncomment the following lines to enable debugging */
#debug_mode=yes

log_level=3
xlog_level=3
log_stderror=no
log_facility=LOG_LOCAL0

udp_workers=4

/* uncomment the next line to enable the auto temporary blacklisting of
   not available destinations (default disabled) */
#disable_dns_blacklist=no

/* uncomment the next line to enable IPv6 lookup after IPv4 dns
   lookup failures (default disabled) */
#dns_try_ipv6=yes


socket=udp:66.165.255.6:5050   # CUSTOMIZE ME



####### Modules Section ########

#set module path
mpath="//lib64/opensips/modules/"

#### SIGNALING module
loadmodule "signaling.so"

#### StateLess module
loadmodule "sl.so"

#### Transaction Module
loadmodule "tm.so"
modparam("tm", "fr_timeout", 5)
modparam("tm", "fr_inv_timeout", 30)
modparam("tm", "restart_fr_on_each_reply", 0)
modparam("tm", "onreply_avp_mode", 1)

#### Record Route Module
loadmodule "rr.so"
/* do not append from tag to the RR (no need for this script) */
modparam("rr", "append_fromtag", 0)

#### MAX ForWarD module
loadmodule "maxfwd.so"

#### SIP MSG OPerationS module
loadmodule "sipmsgops.so"

#### FIFO Management Interface
loadmodule "mi_fifo.so"
modparam("mi_fifo", "fifo_name", "/tmp/opensips_fifo")
modparam("mi_fifo", "fifo_mode", 0666)

#### USeR LOCation module
loadmodule "usrloc.so"
modparam("usrloc", "nat_bflag", "NAT")
modparam("usrloc", "working_mode_preset", "single-instance-no-db")

#### REGISTRAR module
loadmodule "registrar.so"
modparam("registrar", "tcp_persistent_flag", "TCP_PERSISTENT")
/* uncomment the next line not to allow more than 10 contacts per AOR */
#modparam("registrar", "max_contacts", 10)

#### ACCounting module
loadmodule "acc.so"
/* what special events should be accounted ? */
modparam("acc", "early_media", 0)
modparam("acc", "report_cancels", 0)
/* by default we do not adjust the direct of the sequential requests.
   if you enable this parameter, be sure to enable "append_fromtag"
   in "rr" module */
modparam("acc", "detect_direction", 0)

loadmodule "proto_udp.so"

######### MODULOS ADICIONADOS ############


loadmodule "db_mysql.so"

loadmodule "drouting.so"
modparam("drouting", "db_url", "mysql://opensips:opensips@localhost/opensips")

loadmodule "rtpengine.so"
modparam("rtpengine", "db_url", "mysql://opensips:opensips@localhost/opensips")
modparam("rtpengine", "db_table", "rtpengine")
modparam("rtpengine", "setid_avp", "$avp(rtpset)")
modparam("rtpengine", "notification_sock", "127.0.0.1:9876")

loadmodule "dispatcher.so"
modparam("dispatcher","db_url","mysql://opensips:opensips@localhost/opensips")

modparam("dispatcher","dst_avp","$avp(1)")
modparam("dispatcher","grp_avp","$avp(2)")
modparam("dispatcher","cnt_avp","$avp(3)")
modparam("dispatcher", "attrs_avp", "$avp(ds_attrs)")
#modparam("dispatcher","flags",2)
modparam("dispatcher", "ds_probing_mode", 1)
modparam("dispatcher", "ds_probing_threshhold", 5)


loadmodule "clusterer.so"
loadmodule "proto_bin.so"

loadmodule "dialog.so"
modparam("clusterer", "db_url", "mysql://opensips:opensips@localhost/opensips")
modparam("clusterer", "my_node_id", 1) # node_id for Node A

loadmodule "topology_hiding.so"


loadmodule "dialplan.so"
modparam("dialplan", "db_url", "mysql://opensips:opensips@localhost/opensips")

####### Routing Logic ########

# main request routing logic

route{


        if (is_method("INVITE")) {
       xlog("L_INFO", "INVITE Recebido\r\n");



        if (is_method("INVITE|UPDATE")) {
                        record_route();
                }

        create_dialog("B");

        rtpengine_use_set(1);
#       rtpengine_offer();
#        rtpengine_offer("replace-session-connection=10.10.10.2 advertised-address=10.10.10.2 ICE=force");
#       rtpengine_offer("in-iface="+$avp(rtpinface)+"", "out-iface="+$avp(rtpoutface)");


#       if (is_present_hf("Session-Expires")){
#        remove_hf("Session-Expires");
#       }
#       if (is_present_hf("Session-Expires")) {
#       remove_hf("Session-Expires");
#       append_hf("Session-Expires: 123\r\n");
#}
#        append_hf("Adicionando Cabecalho Teste: teste123\r\n");
#       $du = "sip:66.165.255.6:5081";

        topology_hiding();

# ds_is_in_list($si, $sp): Verifica se o IP ($si) e a porta ($sp) do remetente estão em uma lista dinâmica previamente configurada (com o módulo dispatcher).
        if (!ds_is_in_list($si, $sp)) {
        exit;
        }

# dp_translate(1, $rU, $rU, $avp(attrs)): Consulta uma tabela de roteamento configurada para encontrar uma rota para o número de destino $rU (Request URI User).
#Se uma rota for encontrada, os atributos relacionados são armazenados em $avp(attrs).
        if (dp_translate(1, $rU, $rU, $avp(attrs))) {
#Primeiro $rU (Origem): É o número ou identificador de entrada que será traduzido, ou seja, o valor atual da URI de destino.
#Segundo $rU (Destino): É o valor onde o número traduzido será armazenado. Se quiser sobrescrever o valor original, você passa a mesma variável.
#$avp(attrs): onde o OpenSIPS irá armazenar os atributos relacionados ao resultado da tradução de destino realizada pela função dp_translate()(o dialplan tem o campo attrs preenchido com o ip de destino).
# $rd = $avp(attrs): Define o domínio de roteamento ($rd) com o valor retornado pela tradução. Isso ajusta o destino da requisição SIP.
        $rd = $avp(attrs);
        t_relay();
        } else {
        t_reply(503, "No route found");
        }

                # Chama o dispatcher para eviar para o proxy
#       if (!ds_select_dst("0", "$var(ds_hash)","f")) {
#       if (!ds_select_dst("0", "0")) {
#       xlog("L_INFO","No Proxies Available [$rm/f=$fu,r=$ru,ua=$ua/$ci]");
#    sl_send_reply("500","Service Unavailable Proxy");
#    exit;

}




        if (!mf_process_maxfwd_header(10)) {
                send_reply(483,"Too Many Hops");
                exit;
        }

        if (has_totag()) {

                        xlog("L_INFO", "[$ci] - [line $cfg_line] - Request sequential identified.\n");
                xlog("L_INFO", "[$ci] - [line $cfg_line] - Method:'$rm', dialog tags:'$ft/$tt'.\n");

                # handle hop-by-hop ACK (no routing required)
                if ( is_method("ACK") && t_check_trans() ) {
                        t_relay();
                        exit;
                }

                # sequential request within a dialog should
                # take the path determined by record-routing
                if ( !loose_route() ) {
                        # we do record-routing for all our traffic, so we should not
                        # receive any sequential requests without Route hdr.
                        send_reply(404,"Not here");
                        exit;
                }

                if (is_method("BYE")) {
                        # do accounting even if the transaction fails
                        do_accounting("log","failed");
                }

                # route it out to whatever destination was set by loose_route()
                # in $du (destination URI).
                route(relay);
                exit;
        }

        # CANCEL processing
        if (is_method("CANCEL")) {
                if (t_check_trans())
                        t_relay();
                exit;
        }

        # absorb retransmissions, but do not create transaction
        t_check_trans();

        if ( !(is_method("REGISTER")  ) ) {

                if (is_myself("$fd")) {

                } else {
                        # if caller is not local, then called number must be local

                        if (!is_myself("$rd")) {
                                send_reply(403,"Relay Forbidden");
                                exit;
                        }
                }

        }

        # preloaded route checking
        if (loose_route()) {
                xlog("L_ERR",
                        "Attempt to route with preloaded Route's [$fu/$tu/$ru/$ci]");
                if (!is_method("ACK"))
                        send_reply(403,"Preload Route denied");
                exit;
        }

        # record routing
        if (!is_method("REGISTER|MESSAGE"))
                record_route();

        # account only INVITEs
        if (is_method("INVITE")) {

                do_accounting("log");
        }


        if (!is_myself("$rd")) {
                append_hf("P-hint: outbound\r\n");

                route(relay);
        }

        # requests for my domain

        if (is_method("PUBLISH|SUBSCRIBE")) {
                send_reply(503, "Service Unavailable");
                exit;
        }

        if (is_method("REGISTER")) {
                # store the registration and generate a SIP reply
                if (!save("location"))
                        xlog("failed to register AoR $tu\n");

                exit;
        }

        if ($rU==NULL) {
                # request with no Username in RURI
                send_reply(484,"Address Incomplete");
                exit;
        }

        # do lookup with method filtering
        if (!lookup("location","m")) {
                t_reply(404, "Not Found");
                exit;
        }

        # when routing via usrloc, log the missed calls also
        do_accounting("log","missed");
        route(relay);
}


route[relay] {
        # for INVITEs enable some additional helper routes
        if (is_method("INVITE")) {
                t_on_branch("per_branch_ops");
                t_on_reply("handle_nat");
                t_on_failure("missed_call");
        }

        if (!t_relay()) {
                send_reply(500,"Internal Error");
        }
        exit;
}




branch_route[per_branch_ops] {
        xlog("new branch at $ru\n");
}


onreply_route[handle_nat] {
        xlog("incoming reply\n");
}


failure_route[missed_call] {
        if (t_was_cancelled()) {
                exit;
        }

        # uncomment the following lines if you want to block client
        # redirect based on 3xx replies.
        ##if (t_check_status("3[0-9][0-9]")) {
        ##t_reply(404,"Not found");
        ##      exit;
        ##}


}
